<%- if elm.present? %>
  <% @post = true %>
<% else %>
  <% @post = nil %>
<% end %>
<div id="task_user_icon<%=task.id%>">
  <%- if task.cached_users.any? %>
    <%- if task.cached_users.include?(current_user) %>
      <a class="task_user" href="/tasks/<%=task.id%>/unparticipate?post=<%=@post%>&groupid=<%=@group.id%>" data-method="patch" data-remote="true" data-toggle="tooltip" data-placement="top" title="S'abstenir">
        <i class="fa fa-user-circle-o"></i>
      </a>
    <% else %>
      <a class="task_user" href="/tasks/<%=task.id%>/participate?post=<%=@post%>&groupid=<%=@group.id%>" data-method="patch" data-remote="true" data-toggle="tooltip" data-placement="top" title="Participer">
        <i class="fa fa-user"></i>
      </a>
    <% end %>
  <% else %>
    <a class="task_user_o" href="/tasks/<%=task.id%>/participate?post=<%=@post%>&groupid=<%=@group.id%>" data-method="patch" data-remote="true" data-toggle="tooltip" data-placement="top" title="Participer">
      <i class="fa fa-user-o"></i>
    </a>
  <% end %>
</div>
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });
</script>