<%- unless post.cat == 1 %>
<div class="pull-left image">
  <div class="user_icon_round" style="background:<%=post.cached_user.color%>;">
      <%= post.cached_user.initial %>
  </div>
</div>
<div class="pull-left meta">
  <div class="title h5">
    <a href="<%=(post.cached_user.id)%>"><b><%= post.cached_user.pseudo %></b></a>
    <%= post.upd_title%>
  </div>
  <h6 class="text-muted time">
    <%= post.upd_at.strftime("%d %b à %H:%M") %>
  </h6>
</div>
<% else %>
  <div class="h5" style="text-align: center;">
    <a href="<%=(post.cached_user.id)%>"><b><%= post.cached_user.pseudo %></b></a>, <%= post.upd_title%> 
    <span class="text-muted time">(<%= post.upd_at.strftime("%d %b à %H:%M") %>)</span>
  </div>
<% end %>
<%- unless post.cat == 1 %>
  <div class="pull-right meta">
    <%- if post.cached_user == current_user %>
      <div class="my_btn_del close_upd_btn" id="close_upd_btn<%=post.id%>" data-toggle="tooltip" data-placement="top" title="retour au post">
        <i class="fa fa-close"></i>
      </div>
      <div class="dropdown" id="drop_menu_post<%=post.id%>">
        <div class="btn btn-default" id="btn_post_cog" data-toggle="dropdown">
          <i class="fa fa-cog"style="color: #575050;"></i>
        </div>
        <ul class="dropdown-menu">
          <li>
            <a id="post_edit_open_btn<%=post.id%>">
              <i class="fa fa-pencil" id="fa_icons"></i>
              Editer
            </a>
          </li>
          <li>
            <a href="/posts/<%= post.id%>" data-method="delete" data-remote="true" data-confirm="Etes vous sur de vouloir supprimer ce post ? ( Cette action est définitive )" data-remote="true">
              <i class="fa fa-trash" id="fa_icons"></i>
              Supprimer
            </a>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
<%- unless post.cat == 1 %>
<br>
<br>
<br>
<% end %>
<%- if post.title.present? %>
  <div class='well well_title_area'><%=post.title%></div>
<% end %>